$font: 'Quicksand', sans-serif;
$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);
$primaryDark: rgb(30,30,30);
$tertiaryDark: rgb(50,50,50);
$primaryOrange: rgb(255,140,0);
$secondaryOrange: rgb(255, 190, 0);
$tertiaryOrange: rgb(255, 160, 0);
$textColor: var(--textColor);
$sectionsPadding: 2em 4em;