@import 'variables';
@import 'themes';
@import 'base';
@import './layouts/header';
@import './layouts/features';
@import './layouts/medias';
@import './layouts/news';
@import './layouts/release';
@import './layouts/footer';

@media (max-width: 1100px){
    $sectionsPadding: 1em 2em;
    .header{
        padding: 0.5em 2em;
        &_navigation_list{
            li{
                padding: 0 2em;
            }
        }
    }
    .headercontainer{
        height: 20em;
        &_title{
            width: 45%;
        }
    }
    .features{
        padding: $sectionsPadding;
        &_container{
            &_article{
                padding: 0 3em 0 0;
            }
        }
    }
    .media{
        padding: $sectionsPadding;
        &_container{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 14em);
        }
        &_movies{
            flex-direction: row-reverse;
            img{
                max-width: 40%;
                height: 100%;
                border-radius: 1em 0em 0em 1em;
                // border-radius: 0em 1em 1em 0em;
            }
        }
        &_series{
            grid-column: 1/3;
            grid-row: 3;
        }
    }
    .news{
        padding: $sectionsPadding;
        &_article{
            min-width: 13em;
        }
    }
    .release{
        &_selectors{
            padding: $sectionsPadding;
        }
        &_element{
            &_imageshadow{
                max-height: 35em;
                img{
                    max-height: 35em;
                }
            }
            &_text{
                width: 45%;
                left: 2em;
                bottom: 2em;
            }
        }
    }
    .footer{
        padding: $sectionsPadding ;
    }
}

@media (max-width: 700px){
    .header{
        padding: 0;
        &_menulogo{
            &_mobile{
                display: block;
                position: relative;
                padding: 1.5em 0 1.5em 2em;
                &_menu{
                    margin: 0 1em 0 0;
                }
                &_list{
                    display: none;
                }
                &_show{
                    display: block;
                    position: absolute;
                    left: 0;
                    text-align: start;
                    background-color: $secondaryColor;
                    width: calc(100vw - 4em);
                    height: 12em;
                    border-radius: 0 0 1em 1em;
                    padding: 2em;
                    li{
                        padding: 0.4em 0;
                    }
                }
            }
        }
        &_navigation{
            display: none;
        }
        &_signin{
            margin: 0.5em 2em;
        }
    }
    .headercontainer{
        height: 20em;
        &_title{
            width: 70%;
        }
    }
    .news{
        label{
            margin: 0 1em 0 0;
        }
        &_container{
            &::-webkit-scrollbar{
                height: 0em;
            }
        }
    }
    .release{
        label{
            margin: 0 1em 0 0;
        }
        &_element{
            &_imageshadow{
                max-height: 30em;
                box-shadow: inset 10em 0 20em 1em $primaryDark;
                img{
                    max-height: 30em;
                }
            }
            &_text{
                width: 80%;
            }
        }
    }
}

